.orange_bg{
    background: #F98026;
}
.orange_bg img{
    width: 500px;
}
.game_workspace img{
    width: 38px;
   
}
.link {
    display: contents;
}
.button_sec_workspace button{
    background-color: #4CBB16;
    border: none;
    border-radius: 8px;
    color: #fff;
}
.sky_bg{
    background: #47AEF0;
    border-radius: 10px;
}
.goto_workspace_btn{
    border-radius: 8px;
    border: none;
    
}