.create_acc_sec{
    background-color: #E9F7FF;
}
.form_sec{
  background-color: #00000029;
  border-radius: 10px;
}
.create_acc_sec .log_in_btn{
    background:#6F6F6F; 
    border: none;
    color: #fff;
    border-radius: 8px;
}
.create_acc_sec .log_in_btn_green{
    background:#4CBB16; 
    border: none;
    color: #fff;
    border-radius: 8px;
}
.create_acc_inputs input{
    width: 100%;
    border: none;
    border-radius: 8px;
}

.button_sec_create_acc{
    transform: translate(-50%, -50%);
    top: 0%;
    left: 50%;
    width: 100%;
}
.create_acc_checkbox .checkbox{
    width: 5%;
}
.create_acc_submit button{
    background:#4CBB16; 
    border: none;
    color: #fff;
    border-radius: 8px;
}

.custom-swal-popup {
    background-color: #f0f8ff; /* Light blue background */
    color: #000; /* Black text */
    border: 2px solid #0077cc; /* Blue border */
  }
  
  .custom-swal-popup-success {
    background-color: #e6ffe6; /* Light green background */
    color: #4CBB16;  /* Dark green text */
    border: 2px solid #4CBB16; ; /* Green border */
  }
  
  .custom-swal-popup-error {
    background-color: #fff; /* Light red background */
    color: #F9AC0F; /* Dark red text */
    border: 2px solid #F9AC0F; /* Red border */
  }
  
  .custom-swal-title {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .custom-swal-text {
    font-size: 1rem;
  }
  
