.profile_pic img{
    width: 150px;
    border-radius: 50%;
}
.myprofile_text_green {
    color: #4CBB16;
    cursor: pointer;
    
}
.profile_bg_blue{
    background: #0097C2;
    border-radius: 9px;
    cursor: pointer;
}
.profile_bg_grey{
    background: #949494;
    border-radius: 9px;
    cursor: pointer;
}
.profile_bg_grey button{
    border: none;
    border-radius: 9px;
    cursor: pointer;
}
.profile_bg_grey2{
    background-color: #DCDCDC;
    border-radius: 9px;
    cursor: pointer;
}
.profile_input_box{
     border-radius: 9px;
     border: none;
}
.profile_btn_bg{
    background-color: #4CBB16;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    color: #fff;
}
.vtx_monthly_plan_input .toggle{
    width: 72px;
}
input.largerCheckbox {
    transform: scale(2);
}
 .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: opacity 0.3s ease;
  }
  
 /* .modal {
    background: white;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px; 
    transform: translateY(-100%); 
    transition: transform 0.3s ease-out;
  }
  
  .modal-overlay.show .modal {
    transform: translateY(0);
  } */
  

